{%extends 'base.html' %} <!--python script-->
{% block content%}

<h2>Meetings</h2>
<table class="table">  <!-- this class is linked to the bootstraps for editing purposes-->
<tr>
    <th>Meeting Name</th>
    <th>Meeting Date</th>
    
</tr>
{% for p in meeting_list %} <!--loop for all item in the list-->
    <tr><!-- creates one row for each item with name and description-->
        <td><a href="{% url 'meetingdetails' id=p.id %}">{{p.meeting_title}}</a></td> <!--these have to match the names in the models-->
        <td>{{p.meeting_date}}</td>
        
    </tr>
    {% endfor %}
</table>

{% endblock %} <!-- python scripting for webpage-->